{% block control_singleline %}
<div class="commtool-control">
    {% if options['config'].is_interactive %}
        {% if label %}<label>{{ label }}</label>{% endif %}
        <input type="text" ng-model="{{ id }}" />
    {% endif %}
</div>
{% endblock %}

{% block control_multiline %}
<div class="commtool-control">
    {% if options['config'].is_interactive %}
        {% if label is not empty %}<label>{{ label }}</label>{% endif %}
        <textarea type="text" ng-model="{{ id }}"></textarea>
    {% endif %}
</div>
{% endblock %}

{% block control_product %}
<div class="commtool-control">
    {% if label is not empty %}<label>{{ label }}</label>{% endif %}
    {{ commtool_singleline(children[0]) }}
    {{ commtool_multiline(children[1]) }}
</div>
{% endblock %}
