<span {{ section_singleline() }}>Hola Mundo 0</span>
<div {{ section_singleline('title') }}>Titulo del Template</div>

<div {{ section_product() }}>
    <span {{ section_singleline() }}>Hola Mundo, product 0</span>    
    <span {{ section_multiline() }}>Hola Mundo, product 0</span>    
</div>

<div {{ section_loop('singleline') }}>
    <span {{ section_singleline() }}>test</span>
</div>

<div {{ section_loop('product') }}>
    <div {{ section_product() }}>
        <div {{ section_singleline() }}>JEJEJE</div>
    </div>
</div>