{% extends "::base.html.twig" %}

{% set controls = template.controls %}

{% block body %}
<div ng-app ng-controller="MainCtrl" style="width: 1000px">
    <div class="commtool-content">
        {{ template.content|raw }}
    </div>
    <div class="commtool-lateral">
        {{ commtool_controls(template) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/angular.min.js') }}"></script>

<script type="text/javascript">
    function MainCtrl($scope){
                
        {% for i, controls in template.values %}
            $scope.{{ i }} = {{ controls|json_encode()|raw }};
        {% endfor %}
        
        $scope.add = function(){
            $scope.loop_sin.push({
                singleline:['Que bien, agregé un elemento :-)']
            })
            
            console.log($scope.loop_sin)
        }
        
        $scope.aaa = "{{ asset("bundles/commtooltemplate/images/img_01a.jpg") }}"
    }
</script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/optimecommtool/css/commtool.css') }}" />
{% endblock %}