{% extends "::base.html.twig" %}
{% import _self as this %}
{% block body %}
<div ng-app ng-controller="mainCtrl">
{{ template.content|raw }}
{#<textarea ng-model="singleline[0]" ></textarea>
<textarea ng-model="product[0].singleline[0]" ></textarea>
<textarea ng-model="loop_sin.0.singleline[0]" ></textarea>
<div ng-repeat="e in loop_pro">
    <textarea ng-model="e.product[0].singleline[0]" ></textarea>
</div>
<input type="button" value="Agregar a Loop Sin" ng-click="add()" />
</div>#}
{% endblock %}

{#% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/angular.min.js') }}"></script>

<script type="text/javascript">
    function mainCtrl($scope){
                
        {% for i, controls in template.values %}
            $scope.{{ i }} = {{ controls|json_encode()|raw }};
        {% endfor %}
        
        $scope.add = function(){
            $scope.loop_sin.push({
                singleline:['Que bien, agregé un elemento :-)']
            })
            
            console.log($scope.loop_sin)
        }
        
        $scope.aaa = "{{ asset("bundles/commtooltemplate/images/img_01a.jpg") }}"
    }
</script>
{% endblock %#}